h1 {
  text-align: center;
}
body {
  background-color: #f1f1f1;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 90%;
  margin: 10px;
  line-height: 75px;
  font-size: 30px;
}
ol {
  background: white;
  padding: 20px;
}
ol li {
  padding: 5px;
  margin-left: 35px;
  font-size: 24px;
}
.button-delete {
  background-color: rgb(255, 241, 226);
  border-width: 0.1mm;
  border-color: brown;
  color: brown;
  font-weight: bold;
  margin-left: 5mm;
  height: 25px;
  width: 60px;
}
input {
  width: 400px;
  height: 30px;
  padding-left: 20px;
  margin-right: 20px;
}
.button-container {
  display: flex;
  background-color: #f1f1f1;
  justify-content: center;
  align-items: center;
}
.button-container > div {
  display: flex;
  flex-direction: row;
}
.button-add {
  width: 100px;
  background-color: brown;
  color: white;
  border-color: white;
}
