<div class="flex-container">
    <div>
        <ol>
            {{#each @model as |item|}}
            {{#if item.id}}
            <li>{{item.todo}}
                <button class="button-delete" onclick={{fn this.delete @model item}} type='button'>Delete</button></li>
            {{/if}}
            {{/each}}
        </ol>
        <form onsubmit={{fn this.add @model}}>
            <div class="button-container">
                <div>
                    <input placeholder='Add ToDo ...' type='text' onchange={{fn this.onChange}} />
                    <button class="button-add" type='submit'>Add</button>
                </div>
            </div>
        </form>
    </div>
</div>

{{log @model}}